*{
    box-sizing: border-box;
}
#rl{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#rl td , th{
    border: 1px solid black;
    padding: 8px;
}
#rl th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
#rl tr:nth-child(even){
    background-color: #f2f2f2;
}
#rl tr:hover{
    background-color: #ddd;
}
#rl td{
    vertical-align: bottom;
}