
.just2 a{
    font-size: 60px;
}
.just2 a:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
}
.just2 a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.just2 a:visited{
    color: pink;
    background-color: transparent;
    text-decoration: none;
}
.just2 a:active{
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}
.just2 a:link{
    color: green;
    background-color: transparent;
    text-decoration: none;
}

.just3 a:link, a:visited{
    background-color: yellow;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.just3 a:hover, a:active{
    background-color: red;
}

table{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 8px;
    width: 100%;
    border-collapse: collapse;
}
td , th{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: #dddddd;
}